.button {
width: 20rem;
padding: .5rem;
  background-color: rgb(46, 20, 4);
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 900;
}
.icon {
  color: #fff;
  flex: 0 0 25%;
  margin-right: auto;
  margin-left: .5rem;
}
.badeg {
  color: #fff;
  flex: 0 0 20%;
  padding: .75rem;
  margin-left: auto;
  margin-right: .5rem;
  background-color: #6d330c;
  border-radius: 100%;
  text-align: center;
}
.bump{
animation: bumpButton 300ms ease-in;
}
@keyframes bumpButton{
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(.9);
  }
  30%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.15);
  }
  100%{
    transform: scale(1);
  }
}